/* Custom Stylesheet */
/**
 * Use this file to override Materialize files so you can update
 * the core Materialize files in the future
 *
 */

div {
  outline: none !important;
  -webkit-touch-callout: none; /* iOS Safari */
    -webkit-user-select: none; /* Safari */
     -khtml-user-select: none; /* Konqueror HTML */
       -moz-user-select: none; /* Firefox */
        -ms-user-select: none; /* Internet Explorer/Edge */
            user-select: none; /* Non-prefixed version, currently
                                  supported by Chrome and Opera */
}

.navbar-fixed {
    top: -1px;
}

.icon-block {
    padding: 0 15px;
}
.icon-block .material-icons {
    font-size: inherit;
}

span {
    display: inline-block;
    overflow: hidden;
    transition: all ease 0.5s;
    -moz-transition: all ease 0.5s;
    -webkit-transition: all ease 0.5s;
}
.oint {
    width: 54px;
}
.edical {
    width: 84px;
}
.rogram {
    width: 96px;
}
.seahorse {
    display: block;
    height: 46px;
    width: 46px;
    margin-bottom: 8px;
    fill: #FFFFFF;
}

span.hiddenAcronym {
    width: 0px;
    opacity: 0;
}

.gallery-wrapper {
    display: block;
}

.dropdown-trigger {
    outline: none !important;
}

.modal {
    outline: none !important;
}

.navbar-fixed {
    outline: none !important;
}

nav {
    outline: none !important;
}

.container {
    outline: none !important;
}