/* Custom Stylesheet */
/**
 * Use this file to override Materialize files so you can update
 * the core Materialize files in the future
 *
 */

.icon-block {
    padding: 0 15px;
}
.icon-block .material-icons {
    font-size: inherit;
}

span {
    display: inline-block;
    overflow: hidden;
    transition: all ease 0.5s;
    -moz-transition: all ease 0.5s;
    -webkit-transition: all ease 0.5s;
}
.oint {
    width: 54px;
}
.edical {
    width: 84px;
}
.rogram {
    width: 96px;
}
.seahorse {
    display: block;
    height: 46px;
    width: 46px;
    margin-bottom: 8px;
    fill: #FFFFFF;
}

span.hiddenAcronym {
    width: 0px;
    opacity: 0;
}